table {
  width: 100%;
}

.heroes-list-container {
  margin: 20px;
}

.heroes-table-container {
  margin-top: 20px;
}

.search-title-container {
  display: flex;
  align-items: center;
}

.search-content-container {
  margin-left: 16px;
}
