table {
  width: 100%;
}

.heroes-list-container {
  margin: 20px;
}

.heroes-table-container {
  margin-top: 20px;
}

.search-title-container {
  display: flex;
  align-items: center;
}

.search-content-container {
  margin-left: 16px;
}

.add-btn-container {
  margin-top: 20px;
}

.btn-icon {
  margin-left: 10px;
}

.action-btn {
  margin: 10px;
}

.table-actions-header {
  text-align: center;
}

.table-actions {
  text-align: center;
}
