<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z6">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
                <div class="nav-logo-container">
                    <img class="nav-logo" src="assets/images/logo.svg">
                </div>
                <div class="user-info-container">
                    <mat-icon>person</mat-icon>
                    <span>Matías Gómez</span>
                </div>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>