.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 100px;
  height: 100%;
}

.user-info-container {
  display: flex;
  align-items: center;
}
